<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/img/global/Logo.ico">
    <link rel="stylesheet" href="@Url.Content("~/CSS/globalstyle.css")">
    @RenderSection("ExtraStyle", required: false)
</head>

<body>
    <nav class="navbar-container">
        <section class="navbar">
            <img src="@Url.Content("~/img/global/Logo.png")" class="logo">

            <section class="navigation-center">
                <div class="navbar-item-1">
                    <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "active" : "")" href="@Url.Action("Index", "Home")#accueil">Accueil</a>
                    <div class="dropdown">
                        <a href="@Url.Action("Index", "Home")#section-1">Le territoire</a>
                        <a href="@Url.Action("Index", "Home")#section-2">Le projet digital</a>
                        <a href="@Url.Action("Index", "Home")#section-3">Nos valeurs</a>
                        <a href="@Url.Action("Index", "Home")#section-4">Les producteurs partenaires</a>
                        <a href="@Url.Action("Index", "Home")#section-5">Nous rejoindre</a>
                    </div>
                </div>
                <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "ProductDashboard" && ViewContext.RouteData.Values["controller"].ToString() == "Product" ? "active" : "")" href="@Url.Action("ProductDashboard", "Product")">La boutique</a>
                <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "ActivityDashboard" && ViewContext.RouteData.Values["controller"].ToString() == "Activity" ? "active" : "")" href="@Url.Action("ActivityDashboard", "Activity")">Les ateliers</a>
                <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "contact" && ViewContext.RouteData.Values["controller"].ToString() == "contact" ? "active" : "")" href="@Url.Action("contact", "contact")">Contact</a>

            </section>

            <div class="navigation-right">
             @if (User.Identity.IsAuthenticated)
            {

                    <a class="nav-svg" href="@Url.Action("Index", "ShoppingCart")">
                        <svg width="35" height="35" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M35.5753 17.6125V13.0343H34.6284V12.2077H32.9871V13.0343H10.8303V12.2077H9.18906V13.0343H8.24219V17.6125H9.18906V19.4565H8.24219V24.0348H9.18906V25.8788H8.24219V30.457H9.18906V31.7287H10.8303V30.457H32.9871V31.7287H34.6284V30.457H35.5753V25.8788H34.6284V24.0348H35.5753V19.4565H34.6284V17.6125H35.5753ZM32.9871 25.8788H10.8303V24.0348H32.9871V25.8788ZM32.9871 19.4565H10.8303V17.6125H32.9871V19.4565Z" fill="white" />
                            <path d="M21.8778 1.52521C33.0509 1.52521 42.204 10.6816 42.204 22C42.204 33.3184 33.0509 42.4748 21.8778 42.4748C10.7047 42.4748 1.55156 33.3184 1.55156 22C1.55156 10.6816 10.6415 1.52521 21.8778 1.52521ZM21.8778 0.253479C9.94717 0.253479 0.289062 9.98219 0.289062 22C0.289062 34.0178 9.94717 43.7465 21.8778 43.7465C33.8084 43.7465 43.4665 34.0178 43.4665 22C43.4665 9.98219 33.8084 0.253479 21.8778 0.253479Z" fill="white" />
                        </svg>
                        <div class="infobox">Mon panier</div>
                    </a>

                    <div>
                    </div>

                    <a class="nav-svg" href="@Url.Action("Index", "MyAccount")">
                        <svg width="35" height="35" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.5536 0.253479C10.623 0.253479 0.964844 9.98219 0.964844 22C0.964844 27.2141 2.85859 32.301 6.26733 36.2433L6.45671 36.4977C10.3705 40.9487 16.0517 43.5558 21.9223 43.7465C22.1117 43.7465 22.3011 43.7465 22.5536 43.7465C22.8061 43.7465 22.9323 43.7465 23.1848 43.7465C26.1517 43.6829 28.9923 42.9835 31.6435 41.7118C31.8329 41.6482 32.0223 41.521 32.2117 41.4574C32.7798 41.2031 33.2848 40.8851 33.7898 40.5672C34.0423 40.44 34.2317 40.2493 34.4842 40.1221C35.6835 39.2955 36.8198 38.3417 37.8929 37.3243C38.0192 37.1971 38.1454 37.07 38.2716 36.9428C38.3979 36.8156 38.5241 36.6884 38.6504 36.4977L38.7766 36.3705L38.8398 36.3069L38.9029 36.2433C42.3116 32.301 44.2054 27.2777 44.2054 22C44.1423 9.98219 34.421 0.253479 22.5536 0.253479ZM38.3979 34.7808C36.5042 29.0581 32.2748 24.7978 27.2248 23.081C26.9723 23.2717 26.7198 23.3989 26.4673 23.5261C26.1517 23.7168 25.836 23.844 25.5204 23.9712C31.0123 25.2429 35.6204 29.7575 37.3879 35.9254C37.2617 36.0526 37.1354 36.1797 37.0092 36.3705C36.946 36.4341 36.8829 36.4977 36.8198 36.5613C36.6935 36.6884 36.5042 36.8792 36.3779 37.0064C36.2517 37.1335 36.1885 37.1971 36.0623 37.2607C35.8729 37.4515 35.6835 37.5786 35.4942 37.7694C35.431 37.833 35.3679 37.833 35.3048 37.8966C35.0523 38.0873 34.7998 38.2781 34.5473 38.4689C34.3579 38.596 34.1685 38.7232 33.9792 38.8504C33.8529 38.9775 33.7267 39.0411 33.5373 39.1047C33.2848 39.2955 33.0323 39.4227 32.7798 39.5498C32.5273 39.677 32.3379 39.8042 32.0854 39.9313C31.5173 40.2493 30.886 40.5672 30.3179 40.8215C30.1917 40.8851 30.0654 40.9487 29.876 41.0123C29.6867 41.0759 29.5604 41.1395 29.4342 41.2031C29.2448 41.2667 29.1185 41.3302 28.9292 41.3938C27.6035 41.8389 26.2779 42.1569 24.8892 42.3476C24.7629 42.3476 24.6367 42.3476 24.4473 42.4112C23.9423 42.4748 23.4373 42.4748 22.9323 42.5384C22.7429 42.5384 22.5536 42.5384 22.3642 42.5384C22.1748 42.5384 21.9854 42.5384 21.7961 42.5384C21.2911 42.5384 20.7861 42.4748 20.2811 42.4112C20.1548 42.4112 20.0286 42.4112 19.8392 42.3476C18.4504 42.1569 17.1248 41.8389 15.7992 41.3938C15.6098 41.3302 15.4836 41.2667 15.2942 41.2031C15.1048 41.1395 14.9786 41.0759 14.8523 41.0123C14.7261 40.9487 14.5998 40.8851 14.4104 40.8215C13.7792 40.5672 13.2111 40.2493 12.6429 39.9313C12.3904 39.8042 12.2011 39.677 11.9486 39.5498C11.6329 39.3591 11.3804 39.1683 11.128 38.9775L11.0648 38.914C10.8123 38.7868 10.623 38.596 10.3705 38.4053C10.3073 38.3417 10.2442 38.2781 10.118 38.2145C9.86545 38.0238 9.67608 37.8966 9.42358 37.7058C9.17108 37.5151 8.91858 37.3243 8.7292 37.07C8.53983 36.8792 8.28733 36.6884 8.09796 36.4341C7.97171 36.3069 7.84546 36.1797 7.65608 35.989C7.59296 35.9254 7.46671 35.7982 7.40358 35.7346C9.17108 29.5668 13.7792 25.0521 19.2711 23.7804C18.9554 23.6532 18.6398 23.5261 18.3242 23.3353C18.0717 23.2081 17.8192 23.081 17.5667 22.8902C12.7692 24.7342 8.53983 29.0581 6.64608 34.7808C3.80546 31.1564 2.22734 26.6418 2.22734 22C2.22734 10.6816 11.3173 1.52521 22.5536 1.52521C33.7898 1.52521 42.8798 10.6816 42.8798 22C42.8798 26.6418 41.3016 31.0928 38.3979 34.7808Z" fill="white" />
                            <path d="M22.5523 8.51971C18.5123 8.51971 15.293 11.8262 15.293 15.8321C15.293 18.8207 17.1236 21.4277 19.6486 22.5723C20.0905 22.763 20.5323 22.8902 20.9742 23.0174C21.4792 23.1446 21.9842 23.2082 22.5523 23.2082C23.1205 23.2082 23.6255 23.1446 24.1305 23.0174C24.5723 22.8902 25.0142 22.763 25.4561 22.5723C28.0442 21.4277 29.8748 18.8207 29.8748 15.8321C29.8117 11.8262 26.5923 8.51971 22.5523 8.51971ZM22.5523 21.9364C19.2067 21.9364 16.5555 19.2022 16.5555 15.8957C16.5555 12.5892 19.2698 9.85503 22.5523 9.85503C25.8979 9.85503 28.5492 12.5892 28.5492 15.8957C28.5492 19.2022 25.8979 21.9364 22.5523 21.9364Z" fill="white" />
                        </svg>
                        <div class="infobox">Mon compte</div>
                    </a>

                    <div>
                    </div>

                    <a class="nav-svg" href="@Url.Action("Logout", "Login")">
                        <svg width="36" height="36" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.8174 12.5934V14.2026C26.8954 14.8989 28.6471 16.2699 29.7627 18.0732C30.8783 19.8765 31.286 21.996 30.9137 24.0569C30.5414 26.1179 29.4131 27.9875 27.7283 29.3354C26.0435 30.6833 23.9106 31.4226 21.7068 31.4226C19.5029 31.4226 17.3701 30.6833 15.6852 29.3354C14.0004 27.9875 12.8721 26.1179 12.4998 24.0569C12.1275 21.996 12.5352 19.8765 13.6508 18.0732C14.7664 16.2699 16.5181 14.8989 18.5962 14.2026V12.5934C16.072 13.3027 13.9015 14.851 12.4822 16.9546C11.0628 19.0583 10.4895 21.5766 10.8673 24.0486C11.245 26.5205 12.5485 28.7807 14.5391 30.4153C16.5297 32.0499 19.0742 32.9495 21.7068 32.9495C24.3393 32.9495 26.8839 32.0499 28.8744 30.4153C30.865 28.7807 32.1685 26.5205 32.5463 24.0486C32.924 21.5766 32.3507 19.0583 30.9314 16.9546C29.512 14.851 27.3416 13.3027 24.8174 12.5934Z" fill="white" />
                            <path d="M21.7052 20.7615C21.9492 20.7615 22.1832 20.6695 22.3558 20.5058C22.5283 20.3421 22.6252 20.1201 22.6252 19.8886V7.8635C22.6252 7.63199 22.5283 7.40995 22.3558 7.24625C22.1832 7.08254 21.9492 6.99057 21.7052 6.99057C21.4612 6.99057 21.2272 7.08254 21.0546 7.24625C20.8821 7.40995 20.7852 7.63199 20.7852 7.8635V19.8886C20.7852 20.1201 20.8821 20.3421 21.0546 20.5058C21.2272 20.6695 21.4612 20.7615 21.7052 20.7615Z" fill="white" />
                            <circle cx="21.707" cy="22" r="20.75" stroke="white" stroke-width="1" />
                        </svg>

                        <div class="infobox">Déconnexion</div>
                    </a>
            }
            else
            {
                    <a href="@Url.Action("Login", "Login")" class="inscription nav-link">S'identifier</a>
            }
            </div>


        </section>
    </nav>

    <section id="content">
        @RenderBody()
    </section>

    <footer>
        <section class="footer-container">
            <section class="footer-subcontainer">
                <img src="@Url.Content("~/img/global/logo-clair-footer.svg")" id="Logo-footer" alt="Logo footer">

                <section class="footer-subsubcontainer">
                    <section class="col1">

                        <p class="title">Coordonnées</p>

                        <section class="content">
                            <p>12 rue des producteurs,<br>44190 Clisson, France</p>
                            <p>+33 2 40 00 00 00</p>
                            <p>agrinov-contact@gmail.com</p>
                        </section>
                    </section>

                    <section class="col2">
                        <p class="title">Navigation</p>
                        <section class="content">
                            <a href="@Url.Action("Index", "Home")">Accueil</a>
                            <a href="@Url.Action("ProductDashboard", "Product")">La boutique</a>
                            <a href="@Url.Action("ActivityDashboard", "Activity")">Les ateliers</a>
                            <a href="@Url.Action("contact", "contact")">Contact</a>
                        </section>
                    </section>

                    <section class="col3">

                        <p class="title">Réseaux sociaux</p>

                        <section class="content">
                            <img src="@Url.Content("~/img/global/facebook.png")" id="facebook" alt="Facebook">
                            <img src="@Url.Content("~/img/global/instagram.png")" id="instagram" alt="Instagram">
                            <img src="@Url.Content("~/img/global/linkedin.png")" id="linkedin" alt="LinkedIn">
                            <img src="@Url.Content("~/img/global/twitter.png")" id="twitter" alt="Twitter">
                        </section>
                    </section>
                </section>

                @if (User.Identity.IsAuthenticated)
                {
                    <a class="inscription-btn" href="@Url.Action("Logout", "Login")">Déconnexion</a>
                }
                else{
                    <a class="inscription-btn" href="@Url.Action("Login", "Login")">S'identifier</a>
                }
            </section>


            <img src="@Url.Content("~/img/global/line.png")" id="line" alt="Ligne séparatrice">
            <p class="copyright">Copyright &copy; 2024 agrinov - Tous droits réservés <a class="mentions-legales" href="@Url.Action("LegalNotice", "Home")">Mentions légales</a></p>

        </section>
    </footer>

    @RenderSection("Scripts", required: false)
    
</body>
</html>