@model AgriNov.Models.User

@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Renseignements Inscription";
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/formstyle.css">
}
<div class="form">
    @using (Html.BeginForm("AddRegularUser", "Account", FormMethod.Post))
    {
        @Html.LabelFor(model => model.ContactDetails.Name)
        @Html.TextBoxFor(model => model.ContactDetails.Name, new { @class = "form-input" })
        @Html.ValidationMessageFor(model => model.ContactDetails.Name)

        @Html.LabelFor(model => model.ContactDetails.FirstName)
        @Html.TextBoxFor(model => model.ContactDetails.FirstName, new { @class = "form-input" })
        @Html.ValidationMessageFor(model => model.ContactDetails.FirstName)

        @Html.LabelFor(model => model.ContactDetails.PhoneNumber)
        @Html.TextBoxFor(model => model.ContactDetails.PhoneNumber, new { @class = "form-input" })
        @Html.ValidationMessageFor(model => model.ContactDetails.PhoneNumber)

        @Html.TextBoxFor(model => model.UserAccount.Id, new { @Value = @Model.UserAccount.Id, style = "display:none;"})

        @Html.LabelFor(model => model.Address.Line1)
        @Html.TextBoxFor(model => model.Address.Line1, new { @class = "form-input" })
        @Html.ValidationMessageFor(model => model.Address.Line1)

        @Html.LabelFor(model => model.Address.Line2)
        @Html.TextBoxFor(model => model.Address.Line2, new { @class = "form-input" })
        @Html.ValidationMessageFor(model => model.Address.Line2)

        @Html.LabelFor(model => model.Address.PostCode)
        @Html.TextBoxFor(model => model.Address.PostCode, new { @class = "form-input" })
        @Html.ValidationMessageFor(model => model.Address.PostCode)

        @Html.LabelFor(model => model.Address.City)
        @Html.TextBoxFor(model => model.Address.City, new { @class = "form-input" })
        @Html.ValidationMessageFor(model => model.Address.City)

        <button type="submit">Envoyer</button>
    }
</div>
