@model AgriNov.ViewModels.UserAccountUpdate

@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Changement de mot de passe";
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/globalstyle.css">
    <link rel="stylesheet" href="~/CSS/formstyle.css">
    <link rel="stylesheet" href="~/CSS/buttonsstyle.css">

}
<a href="@Url.Action("Index", "DashBoard")" class="return-link">Revenir à mon compte</a>
<div class="form">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.UserAccount.Id, new { @Value = @Model.UserAccount.Id, style = "display:none;" })
        @Html.TextBoxFor(model => model.UserAccount.Mail, new { @Value = @Model.UserAccount.Mail, style = "display:none;" })
        <p>Votre e-mail de connexion est : @Model.UserAccount.Mail</p>
        <br />
        <div>
        @Html.LabelFor(model => model.UserAccount.Password)
        @Html.PasswordFor(model => model.UserAccount.Password)
        @Html.ValidationMessageFor(model => model.UserAccount.Password)
        </div>

        <div>
        @Html.LabelFor(model => model.NewPassword)
        @Html.PasswordFor(model => model.NewPassword)
        @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div>
        @Html.LabelFor(model => model.ConfirmNewPassword)
        @Html.PasswordFor(model => model.ConfirmNewPassword)
        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
        </div>
        <div class="button-container">
        <button type="submit" class="orange-btn">Modifier</button>
        </div>
    }
</div>

