@model AgriNov.ViewModels.UserAccountUpdate

@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Changement de mot de passe";
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/formstyle.css">

}
<div class="form">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.UserAccount.Id, new { @Value = @Model.UserAccount.Id, style = "display:none;" })
        @Html.TextBoxFor(model => model.UserAccount.Mail, new { @Value = @Model.UserAccount.Mail, style = "display:none;" })
        <p>Votre e-mail de connexion est : @Model.UserAccount.Mail</p>

        <div>
        @Html.LabelFor(model => model.UserAccount.Password)
        @Html.PasswordFor(model => model.UserAccount.Password)
        @Html.ValidationMessageFor(model => model.UserAccount.Password)
        </div>

        <div>
        @Html.LabelFor(model => model.NewPassword)
        @Html.PasswordFor(model => model.NewPassword)
        @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div>
        @Html.LabelFor(model => model.ConfirmNewPassword)
        @Html.PasswordFor(model => model.ConfirmNewPassword)
        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
        </div>

        <button type="submit" class="button-add">Modifier</button>
    }
</div>
<a href="@Url.Action("Index", "MyAccount")" class="action">Revenir à mon compte</a>
