@model List<AgriNov.ViewModels.UserAccountViewModel>
@using AgriNov.Models

@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Tous les utilisateurs";
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/tablestyle.css">
}

<a href="@Url.Action("Index", "DashBoard")" class="return-link">< Retour au dashboard</a>

<div class="table-container">

    <table style="--colNbr:5">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Mail</th>
                <th>Status</th>
                <th>Date d'inscription</th>
                <th>Voir plus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AgriNov.ViewModels.UserAccountViewModel userAccountViewModel in Model)
            {
               <tr>
                    <td>@userAccountViewModel.ContactName</td>
                    <td>@userAccountViewModel.UserAccount.Mail</td>
                    <td>@userAccountViewModel.UserAccount.UserAccountLevel.GetDisplayName()</td>
                    <td>@userAccountViewModel.UserAccount.DateCreated.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a href="@Url.Action("UserDetails", "Account", new { id = userAccountViewModel.UserAccount.Id })">
                        <svg width="50" height="22" viewBox="0 0 74 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M72.84 20.809C69.7892 16.9848 64.6916 11.5238 57.707 7.20399C50.9062 2.99699 43.937 0.864197 37 0.864197C30.063 0.864197 23.094 2.99699 16.293 7.20399C9.30861 11.5204 4.21101 16.9852 1.16001 20.809C0.136606 22.0902 0.136606 23.9106 1.16001 25.1918C4.21081 29.016 9.3084 34.477 16.293 38.7968C23.0938 43.0038 30.063 45.1366 37 45.1366C43.937 45.1366 50.906 43.0038 57.707 38.7968C64.6914 34.4804 69.789 29.0156 72.84 25.1918C73.8634 23.9106 73.8634 22.0902 72.84 20.809ZM37 38.106C23.805 38.106 13.27 28.3248 8.512 23.001C13.2698 17.6768 23.805 7.896 37 7.896C50.195 7.896 60.73 17.6772 65.488 23.001C60.7302 28.3252 50.195 38.106 37 38.106ZM37 10.559C30.1406 10.559 24.559 16.141 24.559 23C24.559 29.859 30.141 35.441 37 35.441C43.859 35.441 49.441 29.859 49.441 23C49.441 16.141 43.859 10.559 37 10.559ZM37 28.407C34.0195 28.407 31.5898 25.9812 31.5898 22.9968C31.5898 20.0124 34.0156 17.5866 37 17.5866C39.9844 17.5866 42.4102 20.0124 42.4102 22.9968C42.4102 25.9812 39.9844 28.407 37 28.407Z" fill="#EB7051" />
                        </svg>
                        </a>
                    </td>
               </tr>
            }
        </tbody>
    </table>



</div>

