@model List<AgriNov.ViewModels.BoxContractViewModel>
@using AgriNov.Models

@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Tous les ateliers";
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/tablestyle.css">
    <link rel="stylesheet" href="~/CSS/buttonsstyle.css">
}


<div class="table-title">
<h1>Table des contrats paniers</h1>
</div>

<div class="table-container">

<table>
        <thead>
            <tr>
                <th>Saison</th>
                <th>Année</th>
                <th>Type de produit</th>
                <th>Prix (en €)</th>
                <th>Nombre maximum d'abonnements</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var boxContractViewModel in Model)
    {
                <tr>
                    <td>@boxContractViewModel.BoxContract.Seasons.GetDisplayName()</td>
                    <td>@boxContractViewModel.BoxContract.Years.GetDisplayName()</td>
                    <td>@boxContractViewModel.BoxContract.ProductType.GetDisplayName()</td>
                    <td>@boxContractViewModel.BoxContract.Price.ToString("F2")</td>
                    <td>@boxContractViewModel.BoxContract.MaxSubscriptions</td>
                    <td class="radio-btn-td">
                        <input class="radio-btn" type="radio" name="selectedBoxContractId" value="@boxContractViewModel.BoxContract.Id" />
                    </td>
                </tr>
    }
        </tbody>
</table>



</div>
@using (Html.BeginForm("ShowAllBoxContracts", "BoxContract", FormMethod.Post))
{
    <div class="btn-container">
        <button type="submit" name="action" value="add" class="orange-btn w-30">Ajouter</button>
        <button type="submit" name="action" value="delete" class="orange-btn w-30">Supprimer</button>
        <button type="submit" name="action" value="update" class="orange-btn w-30">Modifier</button>
    </div>
}