@model List<AgriNov.ViewModels.BoxContractViewModel>
@using AgriNov.Models

@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Tous les ateliers";
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/tablestyle.css">
    <link rel="stylesheet" href="~/CSS/buttonsstyle.css">
}
<div class="table-container">

<table>
        <thead>
            <tr>
                <th>Saison</th>
                <th>Année</th>
                <th>Type de produit</th>
                <th>Prix (en €)</th>
                <th>Nombre maximum d'abonnements</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var boxContractViewModel in Model)
    {
                <tr>
                    <td>@boxContractViewModel.Seasons.GetDisplayName()</td>
                    <td>@((int)boxContractViewModel.BoxContract.Years)</td>
                    <td>@boxContractViewModel.ProductType.GetDisplayName()</td> 
                    <td>@boxContractViewModel.BoxContract.Price.ToString("F2")</td>
                    <td>@boxContractViewModel.BoxContract.MaxSubscriptions</td>
                </tr>
    }
        </tbody>
</table>

</div>