@using AgriNov.Models
@using AgriNov.ViewModels

@model List<AgriNov.ViewModels.ProductionViewModel>

@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Toutes les productions";
}

@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/globalstyle.css">
    <link rel="stylesheet" href="~/CSS/formstyle.css">
    <link rel="stylesheet" href="~/CSS/tablestyle.css">
    <link rel="stylesheet" href="~/CSS/buttonsstyle.css">
}

<a href="@Url.Action("Index", "DashBoard")" class="return-link">< Retour à mon compte</a>

            
<div class="table-container-production">
    
    <table style="--colNbr: 10">
        <caption>Gestion des Productions</caption>
        <thead>
            
            <tr>
                <th>Saison</th>
                <th>Année</th>
                <th>Fournisseur</th>
                <th>Type de produit</th>
                <th>Description</th>
                <th>Volume par livraison</th>
                <th>Prix (en €)</th>
                <th>Fréquence de Livraison</th>
                <th>Etat Proposition</th>
                <th>Validation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var production in Model.ToList().AsEnumerable().Reverse())
            {
                <tr>
                    <!-- Inclure un formulaire pour chaque ligne de production -->
                    @using (Html.BeginForm("UpdateProductionValidation", "Production", FormMethod.Post))
                    {
                        <!-- Champ caché pour passer l'ID de la production -->
                        @Html.HiddenFor(model => production.Production.Id)

                        <td>@production.SeasonOptions.FirstOrDefault(x => x.Value == ((int)production.Production.Seasons).ToString())?.Text</td>
                        <td>@production.YearOptions.FirstOrDefault(x => x.Value == ((int)production.Production.Years).ToString())?.Text</td>
                        <td>@production.Production.CompanyName</td>
                        <td>@production.Production.ProductType.GetDisplayName()</td>
                        <td>@production.Production.Description</td>
                        <td>@production.Production.VolumePerDelivery
                            @if (production.Production.ProductType == ProductType.FRUITS ||
                           production.Production.ProductType == ProductType.FISH ||
                           production.Production.ProductType == ProductType.MEAT ||
                           production.Production.ProductType == ProductType.VEGETABLES)
                            {
                                <span>Kg</span>
                            }
                            else if (production.Production.ProductType == ProductType.EGGS)
                            {
                                <span>pièce(s)</span>
                            }
                            else if (production.Production.ProductType == ProductType.DAYRIS)
                            {
                                <span>litre(s)</span>
                            }
                        </td>
                        <td>@production.Production.Price.ToString("F2")
                            @if (production.Production.ProductType == ProductType.FRUITS ||
                           production.Production.ProductType == ProductType.FISH ||
                           production.Production.ProductType == ProductType.MEAT ||
                           production.Production.ProductType == ProductType.VEGETABLES)
                            {
                                <span>€/Kg</span>
                            }
                            else if (production.Production.ProductType == ProductType.EGGS)
                            {
                                <span>€/pièce</span>
                            }
                            else if (production.Production.ProductType == ProductType.DAYRIS)
                            {
                                <span>€/litre</span>
                            }
                        </td>
                        <td>@production.Production.DeliveryFrequency.GetDisplayName()</td>

                        <td>
                            @Html.DropDownListFor(m => production.ValidationStatus, production.ValidationStatusOptions, new { @class = "form-control", @selected = production.ValidationStatus})
                        </td>
                        <td class="btn-container-production">
                            <input type="hidden" name="Id" value="@production.Production.Id" />
                            <button type="submit" class="orange-btn">Valider</button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>