@model AgriNov.ViewModels.OrderViewModel
@using AgriNov.Models

@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Toutes les commandes";
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/tablestyle.css">
    <link rel="stylesheet" href="~/CSS/formstyle.css">
    <link rel="stylesheet" href="~/CSS/buttonsstyle.css">
}
<a href="@Url.Action("Index", "DashBoard")" class="return-link">< Retour à mon compte</a>


<div class="table-container">

    <table style="--colNbr:9">
        <caption>Toutes les commandes</caption>
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Passée par</th>
                <th>Total</th>
                <th>Date</th>
                <th>Statut livraison</th>
                <th>Date de paiement</th>
                <th>Type de paiement</th>
                <th>Statut paiement</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.AllOrders != null && Model.AllOrders.Any())
            {
                @foreach (AgriNov.Models.Order order in Model.AllOrders.ToList().AsEnumerable().Reverse())
                {
                    @using (Html.BeginForm("UpdateOrderValidation", "Order", FormMethod.Post))
                    {
                    <tr>
                        @Html.HiddenFor(model => order.Id)

                        <td>@order.Id.ToString("D4")</td>
                        <td>
                            @if(@order.UserAccount.UserAccountLevel == UserAccountLevel.USER || @order.UserAccount.UserAccountLevel == UserAccountLevel.VOLUNTEER  || @order.UserAccount.UserAccountLevel == UserAccountLevel.ADMIN)
                            {
                               @( @order.UserAccount.User.ContactDetails.Name + " " + @order.UserAccount.User.ContactDetails.FirstName )
                            }
                            else if(@order.UserAccount.UserAccountLevel == UserAccountLevel.SUPPLIER)
                            {
                                @order.UserAccount.Supplier.CompanyDetails.CompanyName.ToUpper()
                            }
                            else if(@order.UserAccount.UserAccountLevel == UserAccountLevel.CORPORATE)
                            {
                                @order.UserAccount.CorporateUser.CompanyDetails.CompanyName.ToUpper()
                            }
                        </td>
                        <td>@order.Total.ToString("C")</td>
                        <td>@order.DateCreated.ToString("dd/MM/yy")</td>
                        <td>
                           @Html.DropDownListFor(m => order.WasDelivered, new SelectList(Model.WasDeliveredOptions, "Value", "Text"), new { @class = "form-control" })

                        </td>
                            <td>
                                @(order.Payment.Date == DateTime.MinValue ? "NA" : order.Payment.Date.ToString("dd/MM/yy"))
                            </td>
                        <td>
                            @Html.DropDownListFor(m => order.Payment.PaymentType, new SelectList(Model.PaymentOptions, "Value", "Text"), new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DropDownListFor(m => order.Payment.Received, new SelectList(Model.ReceivedOptions, "Value", "Text"), new { @class = "form-control" })
                        </td>
                        <td class="btn-container-production">
                            <input type="hidden" name="Id" value="@order.Id" />
                            <button type="submit" class="orange-btn">Valider</button>
                        </td>
                    </tr>
                    }
                }
            }
            else
            {
                <tr>
                    <td colspan="6">Aucune commande trouvée.</td>
                </tr>
            }
        </tbody>
    </table>



</div>