@model AgriNov.ViewModels.OrderViewModel
@using AgriNov.Models

@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Toutes les commandes";
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/accordionstyle.css">
}

<a href="@Url.Action("Index", "DashBoard")" class="return-link">< Retour à mon compte</a>

<div class="orders-content">

    <div class="info">
        <svg width="90" height="90" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.5 14.5C-4 33 -4 63 14.5 81.5C33 100 63 100 81.5 81.5C100 63 100 33 81.5 14.5C63 -4 33 -4 14.5 14.5ZM49.9 20.5C53.9 20.5 57.1 23.8 57.1 27.8C57.1 31.8 53.8 35.1 49.9 35.1C45.9 35.1 42.6 31.8 42.6 27.7C42.6 23.7 45.9 20.5 49.9 20.5ZM60.2 69.4C60 70 59.6 70.7 59.2 71.1C56.6 73.8 53.4 75.4 49.6 75.4C47.8 75.4 46.1 75.4 44.3 75.1C41.4 74.7 37.7 71.1 38.2 67.3C38.6 64.7 39 62.1 39.4 59.5C40.2 55 41 50.4 41.8 45.9C41.8 45.6 41.9 45.3 41.9 45C41.9 43.1 41.3 42.4 39.4 42.2C38.6 42.1 37.8 42 37 41.8C36.1 41.5 35.6 40.7 35.7 40C35.8 39.2 36.3 38.7 37.3 38.5C37.8 38.4 38.4 38.4 39 38.4C41.2 38.4 43.4 38.4 45.7 38.4C48.1 38.4 50.4 38.4 52.8 38.4C54.5 38.4 55.5 39.2 55.5 40.9C55.5 42.3 55.3 43.7 55 45.1C54.1 50.3 53.1 55.4 52.2 60.6C51.9 62.3 51.5 64 51.3 65.7C51.2 66.5 51.3 67.4 51.5 68.2C51.8 69.3 52.6 69.9 53.7 69.8C54.6 69.7 55.5 69.4 56.4 69C57.1 68.7 57.7 68.2 58.4 68C59.6 67.6 60.5 68.3 60.2 69.4Z" fill="#EB7051" />
        </svg>

        <p class="p2">
            Toutes les commandes peuvent être récupérées sur site chaque jeudi (et dès le jeudi suivant la commande) de 9h à 12h et de 14h à 17h. 
            Si vous avez souscrit à un abonnement panier, celui-ci doit être obligatoirement récupéré chaque semaine à partir de la date de début de la saison correspondante.
        </p>
    </div>
    

    <div class="accordion">
    @{
        int i = 1;
        List<Order> orders = Model.AllOrders;
    }
    @for (int index = orders.Count - 1; index >= 0; index--)
    {
        var order = orders[index];
        <div class="tab">
            <input type="checkbox" name="accordion-@i" id="cb-@i">
            <label for="cb-@i" class="tab-label">
                Date : @order.DateCreated.ToString("dd/MM/yyyy") | 
                Statut : @(order.WasDelivered ? "Récupérée" : "Prête à être récupérée")
            </label>
            <div class="tab-content">
                    <div class="order-resume">
                        <h4>
                            @(order.Payment.Received ? "La commande a été réglée." : "La commande devra être réglée sur place.")
                        </h4>
                        <br /><br />
                        @foreach (OrderItem orderItem in @order.OrderItems)
                        {
                           <div class="cart-line">
                                @if (orderItem.MemberShipFee != null)
                                {
                                <p class="name">Cotisation annuelle</p>
                                <p class="price">@orderItem.Total.ToString("C")</p>
                                }
                                else if (orderItem.Product != null)
                                {
                                <p class="name">@orderItem.Product.Name</p>
                                <p class="price">@orderItem.Total.ToString("C")</p>
                                }
                                else if (orderItem.BoxContract != null)
                                {

                                <p class="name">@(orderItem.Quantity == 1 ? "Petit" : orderItem.Quantity == 2 ? "Grand" : "") panier de @orderItem.BoxContract.ProductType.GetDisplayName()</p>
                                <p class="price">@orderItem.Total.ToString("C")</p>
                                }
                           </div>
                        }
                    <div class="line"></div>
                    <div class="cart-line">
                        <p class="name"><b>Total</b></p>
                        <p class="price"><b>@order.Total.ToString("C")</b></p>
                    </div>
                    </div>

            </div>
        </div>
        i++;
    }
</div>

</div>
