@model AgriNov.ViewModels.ActivityViewModel

@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Proposer une activité";
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/formstyle.css">
    <link rel="stylesheet" href="~/CSS/buttonsstyle.css">

}
<div class="form-no-shadow">

        <div class="fieldsets-container">
            <fieldset>
                <div>
                    @Html.LabelFor(model => model.Activity.Name)
                    @Html.TextBoxFor(model => model.Activity.Name)
                    @Html.ValidationMessageFor(model => model.Activity.Name)
                </div>

                <div>
                    @Html.LabelFor(model => model.Activity.Datetime)
                    @Html.EditorFor(model => model.Activity.Datetime, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.Activity.Datetime)
                </div>

                <div>
                    @Html.LabelFor(model => model.Activity.Duration)
                    @Html.TextBoxFor(model => model.Activity.Duration, new { @type = "number", @min = "0", @step = "1", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Activity.Duration)
                </div>
                <div>
                    @Html.LabelFor(model => model.Activity.Location)
                    @Html.TextBoxFor(model => model.Activity.Location)
                    @Html.ValidationMessageFor(model => model.Activity.Location)
                </div>

                <div>
                    @Html.LabelFor(model => model.Activity.MaxParticipants)
                    @Html.TextBoxFor(model => model.Activity.MaxParticipants, new { @type = "number", @min = "0", @step = "1", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Activity.MaxParticipants)
                </div>

                <div>
                    @Html.LabelFor(model => model.Activity.MaxInvitesPerPerson)
                    @Html.TextBoxFor(model => model.Activity.MaxInvitesPerPerson, new { @type = "number", @min = "0", @step = "1", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Activity.MaxInvitesPerPerson)
                </div>
            </fieldset>

            <fieldset>
                    @* add file *@
                    @Html.LabelFor(Model => Model.Activity.ImgActivity)
            <input id="txtFile" type="file" value="Upload File" class="custom-file-input" />
                    @* show file in live time with js script down below*@
                    <img id="imgViewer" />
            </fieldset>
        </div>

        <div class="production-description">
            @Html.LabelFor(model => model.Activity.Description)
            @Html.TextAreaFor(model => model.Activity.Description, new { @class = "form-control", @rows = "5", @cols = "50" })
            @Html.ValidationMessageFor(model => model.Activity.Description)
        </div>

        <div class="button-container">
            <button id="btnSave" class="orange-btn w-100">Valider</button>
        </div>

</div>

<script type="text/javascript" src="/scripts/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    $("#txtFile").change(function (event) {
        var files = event.target.files;
        $("#imgViewer").attr("src", window.URL.createObjectURL(files[0]));
    });

    $("#btnSave").click(function () {
        var files = $("#txtFile").prop("files");
        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append("file", files[i]);
        }

        var oActivity = {
            Name: $("#Activity_Name").val(),
            DateTime: $("#Activity_Datetime").val(),
            Duration: $("#Activity_Duration").val(),
            Location: $("#Activity_Location").val(),
            MaxParticipants: $("#Activity_MaxParticipants").val(),
            MaxInvitesPerPerson: $("#Activity_MaxInvitesPerPerson").val(),
            Description: $("#Activity_Description").val(),
        }

        formData.append("Activity", JSON.stringify(oActivity));
        $.ajax({
            type: "POST",
            url: "/Activity/CreateActivity",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                window.location.href = "/Activity/ActivityDashboard?activeTab=ShowMyActivities";
            },
        });
    });
    
</script>

