@model AgriNov.ViewModels.ActivityViewModel

@{
    Layout = "_BaseLayout";
    ViewBag.Title = @Model.Activity.Name;
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/detailstyle.css">
}
<div class="activity-detail-container">
    <div class="full-img"></div>
    <div class="activity-content">
        <a href="@Url.Action("ShowAllActivities", "Activity")">
            <div class="close-btn"></div>
        </a>
        <div class="text-content">
            <h2 class="activity-name">@Model.Activity.Name</h2>
            <p class="activity-author">@Model.Activity.Location</p>
            <p class="activity-date">@Model.Activity.Datetime.ToString("dd/MM/yyyy HH:mm")</p>
            <p class="activity-date">Proposé par @Model.OrganizerName</p>
            <p class="activity-description">@Model.Activity.Description</p>
            <div class="activity-number-display">
                <div>
                    <p class="number-display">@Model.Activity.Duration h</p>
                    <p>Durée de l'atelier</p>
                </div>
                <div>
                    <p class="number-display">@Model.NbBookingsLeft</p>
                    <p>Places restantes</p>
                </div>
                <div>
                    <p class="number-display">@Model.Activity.MaxInvitesPerPerson</p>
                    <p>Invité(s) possible</p>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("BookActivity", "Activity", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Activity.Id)
            <div class="btn-div">
                <div class="quantity-selector">
                    <button class="minus">-</button>
                    <input type="text" value="1" min="1" max="@(@Model.Activity.MaxInvitesPerPerson + 1)">
                    <button class="plus">+</button>
                </div>
                <button type="submit" class="btn-inscription">inscription</button>
            </div>
            
        }
    </div>
</div>

<script src="~/scripts/quantity-selector.js"></script>
