@using AgriNov.Models
@model AgriNov.ViewModels.PaymentViewModel
@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Mon panier";
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/shoppingcartstyle.css">
    <link rel="stylesheet" href="~/CSS/formstyle.css" />
    <link rel="stylesheet" href="~/CSS/buttonsstyle.css" />
}

<div class="payment-header">
    <h2>paiement</h2>
    <div></div>
    <div class="underline" id="underline-1"></div>
    <div class="underline" id="underline-2"></div>
    <div class="underline" id="underline-3"></div>
</div>

<div class="info-container">
    <div class="info">
        <svg width="60" height="60" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.5 14.5C-4 33 -4 63 14.5 81.5C33 100 63 100 81.5 81.5C100 63 100 33 81.5 14.5C63 -4 33 -4 14.5 14.5ZM49.9 20.5C53.9 20.5 57.1 23.8 57.1 27.8C57.1 31.8 53.8 35.1 49.9 35.1C45.9 35.1 42.6 31.8 42.6 27.7C42.6 23.7 45.9 20.5 49.9 20.5ZM60.2 69.4C60 70 59.6 70.7 59.2 71.1C56.6 73.8 53.4 75.4 49.6 75.4C47.8 75.4 46.1 75.4 44.3 75.1C41.4 74.7 37.7 71.1 38.2 67.3C38.6 64.7 39 62.1 39.4 59.5C40.2 55 41 50.4 41.8 45.9C41.8 45.6 41.9 45.3 41.9 45C41.9 43.1 41.3 42.4 39.4 42.2C38.6 42.1 37.8 42 37 41.8C36.1 41.5 35.6 40.7 35.7 40C35.8 39.2 36.3 38.7 37.3 38.5C37.8 38.4 38.4 38.4 39 38.4C41.2 38.4 43.4 38.4 45.7 38.4C48.1 38.4 50.4 38.4 52.8 38.4C54.5 38.4 55.5 39.2 55.5 40.9C55.5 42.3 55.3 43.7 55 45.1C54.1 50.3 53.1 55.4 52.2 60.6C51.9 62.3 51.5 64 51.3 65.7C51.2 66.5 51.3 67.4 51.5 68.2C51.8 69.3 52.6 69.9 53.7 69.8C54.6 69.7 55.5 69.4 56.4 69C57.1 68.7 57.7 68.2 58.4 68C59.6 67.6 60.5 68.3 60.2 69.4Z" fill="#EB7051" />
        </svg>

        <p class="p2">
            Toutes les commandes peuvent être récupérées sur site chaque jeudi (et dès le jeudi suivant la commande) de 9h à 12h et de 14h à 17h.
            Si vous avez souscrit à un abonnement panier, celui-ci doit être obligatoirement récupéré chaque semaine à partir de la date de début de la saison correspondante.
        </p>
    </div>
</div>

@using (Html.BeginForm("PlaceOrder", "ShoppingCart", FormMethod.Post))
    {
    <div class="page-container">


        <div class="shop-resume-container">

            <h4>Comment souhaitez vous régler ?</h4>

            <div class="shop-resume-btn-container">
                <span id="online-button" class="btn active" href='@Url.Action("EmptyCart","ShoppingCart")'>En ligne</span>
                <span id="offline-button" class="btn" href='@Url.Action("PlaceOrder","ShoppingCart")'>Sur place</span>
            </div>

            <div class="shop-resume">
                <h4>ma commande</h4>

                @for (int i = 0; i < Model.ShoppingCart.ShoppingCartItems.Count; i++)
                {
                    ShoppingCartItem item = Model.ShoppingCart.ShoppingCartItems[i];
                    <div class="cart-line">
                        @if (item.MemberShipFee != null)
                        {
                            <p class="name">Cotisation annuelle</p>
                            <p class="price">@item.Total.ToString("C")</p>
                        }
                        else if (item.Product != null)
                        {
                            <p class="name">@item.Product.Name</p>
                            <p class="price">@item.Total.ToString("C")</p>
                        }
                        else if (item.BoxContract != null)
                        {

                            <p class="name">@(item.Quantity == 1 ? "Petit" : item.Quantity == 2 ? "Grand" : "") panier de @item.BoxContract.ProductType.GetDisplayName()</p>
                            <p class="price">@item.Total.ToString("C")</p>
                        }
                    </div>
                }
           

                <div class="line"></div>
                <div class="cart-line">
                    <p class="name"><b>Total</b></p>
                <p class="price"><b>@Model.ShoppingCart.Total.ToString("C")</b></p>
                </div>
            
            </div>
        </div>

    

        <div id="online-payment">
        <div class="payment-container">

            <div class="container">
                <div class="creditcard">
                    <div class="front">
                        <div id="ccsingle"></div>
                        <svg version="1.1" id="cardfront" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             x="0px" y="0px" viewBox="0 0 750 471" style="enable-background:new 0 0 750 471;" xml:space="preserve">
                        <g id="Front">
                        <g id="CardBackground">
                        <g id="Page-1_1_">
                        <g id="amex_1_">
                        <path id="Rectangle-1_1_" class="lightcolor" d="M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40
                            C0,17.9,17.9,0,40,0z" />
                                    </g>
                                </g>
                        <path class="darkcolor" d="M750,433V195.2c-217.6-57.5-556.4-13.5-750,24.9V433c0,22.1,17.9,40,40,40h670C732.1,473,750,455.1,750,433z" />
                            </g>
                        <text transform="matrix(1 0 0 1 60.106 295.0121)" id="svgnumber" class="st1 st2 st3 st4">0123 4567 8910 1112</text>
                        <text transform="matrix(1 0 0 1 54.1064 428.1723)" id="svgname" class="st1 st2 st5 st6">JEAN DUPONT</text>
                        <text transform="matrix(1 0 0 1 54.1074 389.8793)" class="st7 st5 st8">nom du propriétaire</text>
                        <text transform="matrix(1 0 0 1 479.7754 388.8793)" class="st7 st5 st8">date d'expiration</text>
                        <text transform="matrix(1 0 0 1 60.106 241.5)" class="st7 st5 st8">numéro de carte</text>
                        <g>
                        <text transform="matrix(1 0 0 1 574.4219 433.8095)" id="svgexpire" class="st1 st2 st5 st9">01/23</text>
                        <text transform="matrix(1 0 0 1 479.3848 417.0097)" class="st2 st10 st11">EXPIRE</text>
                        <text transform="matrix(1 0 0 1 479.3848 435.6762)" class="st2 st10 st11">A FIN</text>
                        <polygon class="st2" points="554.5,421 540.4,414.2 540.4,427.9 		" />
                            </g>
                        <g id="cchip">
                        <g>
                        <path class="st2" d="M168.1,143.6H82.9c-10.2,0-18.5-8.3-18.5-18.5V74.9c0-10.2,8.3-18.5,18.5-18.5h85.3
                        c10.2,0,18.5,8.3,18.5,18.5v50.2C186.6,135.3,178.3,143.6,168.1,143.6z" />
                                </g>
                        <g>
                        <g>
                        <rect x="82" y="70" class="st12" width="1.5" height="60" />
                                    </g>
                        <g>
                        <rect x="167.4" y="70" class="st12" width="1.5" height="60" />
                                    </g>
                        <g>
                        <path class="st12" d="M125.5,130.8c-10.2,0-18.5-8.3-18.5-18.5c0-4.6,1.7-8.9,4.7-12.3c-3-3.4-4.7-7.7-4.7-12.3
                            c0-10.2,8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5c0,4.6-1.7,8.9-4.7,12.3c3,3.4,4.7,7.7,4.7,12.3
                            C143.9,122.5,135.7,130.8,125.5,130.8z M125.5,70.8c-9.3,0-16.9,7.6-16.9,16.9c0,4.4,1.7,8.6,4.8,11.8l0.5,0.5l-0.5,0.5
                            c-3.1,3.2-4.8,7.4-4.8,11.8c0,9.3,7.6,16.9,16.9,16.9s16.9-7.6,16.9-16.9c0-4.4-1.7-8.6-4.8-11.8l-0.5-0.5l0.5-0.5
                            c3.1-3.2,4.8-7.4,4.8-11.8C142.4,78.4,134.8,70.8,125.5,70.8z" />
                                    </g>
                        <g>
                        <rect x="82.8" y="82.1" class="st12" width="25.8" height="1.5" />
                                    </g>
                        <g>
                        <rect x="82.8" y="117.9" class="st12" width="26.1" height="1.5" />
                                    </g>
                        <g>
                        <rect x="142.4" y="82.1" class="st12" width="25.8" height="1.5" />
                                    </g>
                        <g>
                        <rect x="142" y="117.9" class="st12" width="26.2" height="1.5" />
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g id="Back">
                        </g>
                    </svg>
                    </div>
                    <div class="back">
                        <svg version="1.1" id="cardback" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             x="0px" y="0px" viewBox="0 0 750 471" style="enable-background:new 0 0 750 471;" xml:space="preserve">
                        <g id="Front">
                        <line class="st0" x1="35.3" y1="10.4" x2="36.7" y2="11" />
                        </g>
                        <g id="Back">
                        <g id="Page-1_2_">
                        <g id="amex_2_">
                        <path id="Rectangle-1_2_" class="darkcolor" d="M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40
                        C0,17.9,17.9,0,40,0z" />
                                </g>
                            </g>
                        <rect y="61.6" class="st2" width="750" height="78" />
                        <g>
                        <path class="st3" d="M701.1,249.1H48.9c-3.3,0-6-2.7-6-6v-52.5c0-3.3,2.7-6,6-6h652.1c3.3,0,6,2.7,6,6v52.5
                    C707.1,246.4,704.4,249.1,701.1,249.1z" />
                        <rect x="42.9" y="198.6" class="st4" width="664.1" height="10.5" />
                        <rect x="42.9" y="224.5" class="st4" width="664.1" height="10.5" />
                        <path class="st5" d="M701.1,184.6H618h-8h-10v64.5h10h8h83.1c3.3,0,6-2.7,6-6v-52.5C707.1,187.3,704.4,184.6,701.1,184.6z" />
                            </g>
                        <text transform="matrix(1 0 0 1 621.999 227.2734)" id="svgsecurity" class="st6 st7">985</text>
                        <g class="st8">
                        <text transform="matrix(1 0 0 1 621.999 280.0879)" class="st9 st6 st10">CSV</text>
                            </g>
                        <rect x="58.1" y="378.6" class="st11" width="375.5" height="13.5" />
                        <rect x="58.1" y="405.6" class="st11" width="421.7" height="13.5" />
                        <text transform="matrix(1 0 0 1 59.5073 228.6099)" id="svgnameback" class="st12 st13">Jean Dupont</text>
                        </g>
                    </svg>
                    </div>
                </div>
            </div>


            
            <div class="form-container">
                    <div class="field-container">
                        <label for="name">Nom du propriétaire</label>
                        @Html.TextBoxFor(model => model.Name, new { id = "name", type = "text", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "validation-error" })
                    </div>

                    <div class="field-container">
                        <label for="cardnumber">Numéro de carte</label>
                        @Html.TextBoxFor(model => model.CardNumber, new { id = "cardnumber", type = "text", inputmode = "numeric", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CardNumber, null, new { @class = "validation-error" })
                    </div>

                    <div class="field-container">
                        <label for="expirationdate">Date d'expiration (mm/aa)</label>
                        @Html.TextBoxFor(model => model.ExpirationDate, new { id = "expirationdate", type = "text", inputmode = "numeric", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ExpirationDate, null, new { @class = "validation-error" })
                    </div>

                    <div class="field-container">
                        <label for="securitycode">CSV</label>
                        @Html.TextBoxFor(model => model.SecurityCode, new { id = "securitycode", type = "text", inputmode = "numeric", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SecurityCode, null, new { @class = "validation-error" })
                    </div>

            </div>
                <button type="submit" name="action" value="online" class="lightOrange-btn w-250px">Valider</button>
        </div>
        </div>
            

        <div id="offline-payment">
        <div class="payment-container">
            <div class="text-container">
                <h4>Nous acceptons les paiements suivants :</h4>
                <ul>
                    <li>chèques</li>
                    <li>espèces</li>
                    <li>CB</li>
                </ul>
                <h4>Rendez vous sur notre site à l’adresse suivante afin de collecter et régler vos achats.</h4>
                <div class="address">
                    <svg width="43" height="53" viewBox="0 0 43 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5025 0C33.3674 0 43 9.61229 43 21.4522C43 28.1775 39.8946 34.6104 36.0313 39.8556C30.574 47.2737 23.7471 52.264 23.7471 52.264C23.745 52.264 23.745 52.264 23.745 52.2661C22.4107 53.2446 20.5915 53.2446 19.255 52.2661C19.255 52.264 19.255 52.264 19.2529 52.264C19.2529 52.264 12.4262 47.2736 6.96867 39.8556C3.1077 34.608 0 28.1747 0 21.4522C0.00436792 9.61229 9.63705 0 21.502 0H21.5025ZM21.5025 12.6176C16.6173 12.6176 12.6515 16.5751 12.6515 21.45C12.6515 26.3271 16.6174 30.2846 21.5025 30.2846C26.3877 30.2846 30.3535 26.3271 30.3535 21.4522C30.3535 16.5773 26.3877 12.6176 21.5025 12.6176Z" fill="#D15150" />
                    </svg>
                    <h4>
                        12 rue des producteurs,<br/>
                        44190 Clisson, France
                    </h4>
                </div>
            </div>
            <button type="submit" name="action" value="offline" class="lightOrange-btn w-50">Valider</button>
        </div>
        </div>


    </div>
    }
  


@section Scripts {
    <script src="~/scripts/payment.js"></script>
 
}
