@model AgriNov.ViewModels.ProductViewModel
@{
    Layout = "_BaseLayout";
    ViewBag.Title = "La boutique";
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/tabstyle.css">
    <link rel="stylesheet" href="~/CSS/buttonsstyle.css">
}

<div class="alert-container">

@if (TempData["SuccessMessage"] != null)
{
<div id="success-message" class="alert">
    @TempData["SuccessMessage"]
</div>
}

</div>


<div class="full-tab-navigation-div">
    <div class="activity-header">
        <h2>la boutique</h2>
        <div class="underline" id="underline-1"></div>
        <div class="underline" id="underline-2"></div>
        <div class="underline" id="underline-3"></div>
    </div>

    <div class="tab-view">
        <div class="tabs">
            <a href="@Url.Action("ProductDashboard", new { activeTab = "ShowAllProducts" })"
               class="tab-link @(ViewData["ActiveTab"].ToString() == "ShowAllProducts" ? "active" : "")"
               data-target="all-workshops">tous les produits</a>

            <a href="@Url.Action("ProductDashboard", new { activeTab = "ShowMyBox" })"
               class="tab-link @(ViewData["ActiveTab"].ToString() == "ShowMyBox" ? "active" : "")"
               data-target="my-workshops">les abonnements</a>
        </div>

        <div id="tab-content">
            @if (ViewData["ActiveTab"].ToString() == "ShowAllProducts")
            {
                @await Html.PartialAsync("ShowAllProducts", Model)
            }
            else if (ViewData["ActiveTab"].ToString() == "ShowMyBox")
            {
                @await Html.PartialAsync("ShowMyBox", Model)
            }
        </div>
    </div>
</div>

 