@using AgriNov.Models
@model AgriNov.ViewModels.ProductViewModel

@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Tous les abonnements";
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/detailstyle.css">
    <link rel="stylesheet" href="~/CSS/buttonsstyle.css">
}
<div class="all-info">
    <h4 class="status-title">Vous n'avez pas encore d'abonnement panier</h4>
    <h3 class="status-title">les paniers disponibles à l'abonnement</h3>
    <div class="all-tiles-box">
        <div class="columns-box">
            @for(int i = 0; i < Model.AllBoxContractsToSale.Count ; i++)
            {
                BoxContract boxContract = Model.AllBoxContractsToSale[i];
                @using (Html.BeginForm("AddBoxContractToCart", "Product", FormMethod.Post))
                {
                    <div class="box-to-sell-div">
                        <input type="hidden" name="boxContractId" value="@boxContract.Id">
                        <input type="hidden" name="quantity" value="1">
                        <div class="full-img"></div>
                        <div class="activity-content">
                            <div class="text-content">
                                <h2 class="activity-name">petit panier de boxContract.ProductType.GetDisplayName()</h2>
                                <p class="price">@((boxContract.Price / 2).ToString("C")) à la semaine</p>
                                <p class="activity-author">Soit @(((boxContract.Price / 2) * 13).ToString("C")) pour la saison
                                </p>
                                <p class="activity-description">Ce panier est conçu pour répondre au besoin d'une à deux
                                    personnes par semaine.</p>
                            </div>
                            <div class="btn-div">
                                <button type="submit" class="btn-inscription">ajouter</button>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="columns-box">
            @for (int i = 0; i < Model.AllBoxContractsToSale.Count ; i++)
            {
                BoxContract boxContract = Model.AllBoxContractsToSale[i];
                @using (Html.BeginForm("AddBoxContractToCart", "Product", FormMethod.Post))
                {
                    <input type="hidden" name="boxContractId" value="@boxContract.Id">
                    <input type="hidden" name="quantity" value="1">
                    <div class="box-to-sell-div">
                        <div class="full-img"></div>
                        <div class="activity-content">
                            <div class="text-content">
                                <h2 class="activity-name">grand panier de boxContract.ProductType.GetDisplayName()</h2>
                                <p class="price">boxContract.Price.ToString("C") à la semaine</p>
                                <p class="activity-author">Soit @((boxContract.Price * 13).ToString("C")) pour la saison</p>
                                <p class="activity-description">Ce panier est conçu pour répondre au besoin de 4 personnes en
                                    moyenne par semaine.</p>
                            </div>
                            <div class="btn-div">
                                <button type="submit" class="btn-inscription">ajouter</button>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>