@using AgriNov.Models
@model AgriNov.ViewModels.ProductViewModel

@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Tous les abonnements";
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/detailstyle.css">
    <link rel="stylesheet" href="~/CSS/buttonsstyle.css">
    <style>
        details {
            cursor: hover;
        }
        details summary {
            @* list-style: none; to remove arrow *@
        }
    </style>
}
<div class="all-info">
<details>
    <summary>
        <h3 class="status-title">Vos paniers de la saison en cours</h3>
    </summary>
    @if (Model.MyCurrentBoxContracts != null && Model.MyCurrentBoxContracts.Count > 0)
    {

        @foreach (BoxContractSubscription boxContractSub in Model.MyCurrentBoxContracts)
        {
            <div class="box-to-sell-div">
                <div class="full-img">
                        @{
                            String srcValue = "data:image.jpg;base64," + Convert.ToBase64String(boxContractSub.BoxContract.ImgSmallBoxContract) + "";
                            <img id="imgViewer" src=@srcValue />
                        }
                </div>
                <div class="activity-content">
                    <div class="text-content">
                        <h2 class="activity-name">@(boxContractSub.Quantity == 1 ? "Petit" : boxContractSub.Quantity == 2 ? "Grand" : "") panier de @boxContractSub.BoxContract.ProductType.GetDisplayName()</h2>
                        <p class="price">@((boxContractSub.BoxContract.Price * boxContractSub.Quantity ).ToString("C")) à la semaine</p>
                        <p class="activity-description">Saison @boxContractSub.BoxContract.Seasons.GetDisplayName() @boxContractSub.BoxContract.Years.GetDisplayName()</p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h4 class="status-title">Vous n'avez d'abonnement panier en cours</h4>
    }
</details>
<details>
    <summary>
    <h3 class="status-title">les paniers pour la saison à venir</h3>
    </summary>
    <h3>@Model.NextSeasonInfo</h3>
    <div class="all-tiles-box">
        <div class="columns-box">
            @for (int i = 0; i < Model.AllBoxContractsToSale.Count; i++)
            {
                BoxContract boxContract = Model.AllBoxContractsToSale[i];
                @using (Html.BeginForm("AddBoxContractToCart", "Product", FormMethod.Post))
                {
                    <input type="hidden" name="boxContractId" value="@boxContract.Id">
                    <input type="hidden" name="quantity" value="1">
                    <div class="box-to-sell-div">
                        <div class="full-img">
                                @{
                                    String srcValue = "data:image.jpg;base64," + Convert.ToBase64String(boxContract.ImgSmallBoxContract) + "";
                                    <img id="imgViewer" src=@srcValue />
                                }
                        </div>
                        <div class="activity-content">
                            <div class="text-content">
                                <h2 class="activity-name">petit panier de @boxContract.ProductType.GetDisplayName()</h2>
                                <p class="price">@((@boxContract.Price).ToString("C")) à la semaine</p>
                                <p class="activity-author">Soit @(((@boxContract.Price ) * 13).ToString("C")) pour la saison
                                </p>
                                <p class="activity-description">@boxContract.Seasons.GetDisplayName() @boxContract.Years.GetDisplayName() - Ce panier est conçu pour répondre au besoin d'une à deux
                                    personnes par semaine et comprend 13 paniers hebdomadaires à récupérer chaque jeudi.</p>
                            </div>
                            <div class="btn-div">
                                <button type="submit" class="btn-inscription">ajouter</button>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="columns-box">
            @for (int i = 0; i < Model.AllBoxContractsToSale.Count; i++)
            {
                BoxContract boxContract = Model.AllBoxContractsToSale[i];
                @if(boxContract.MaxSubscriptions > 1)
                {
                    @using (Html.BeginForm("AddBoxContractToCart", "Product", FormMethod.Post))
                    {
                        <input type="hidden" name="boxContractId" value="@boxContract.Id">
                        <input type="hidden" name="quantity" value="2">
                        <div class="box-to-sell-div">
                            <div class="full-img">
                                    @{
                                        String srcValue = "data:image.jpg;base64," + Convert.ToBase64String(boxContract.ImgBigBoxContract) + "";
                                        <img id="imgViewer" src=@srcValue />
                                    }
                            </div>
                            <div class="activity-content">
                                <div class="text-content">
                                    <h2 class="activity-name">grand panier de @boxContract.ProductType.GetDisplayName()</h2>
                                    <p class="price">@((@boxContract.Price *2).ToString("C")) à la semaine</p>
                                    <p class="activity-author">Soit @((@boxContract.Price * 2 * 13).ToString("C")) pour la saison</p>
                                    <p class="activity-description">@boxContract.Seasons.GetDisplayName() @boxContract.Years.GetDisplayName() - Ce panier est conçu pour répondre au besoin de deux à quatre
                                    personnes par semaine et comprend 13 paniers hebdomadaires à récupérer chaque jeudi.</p>
                                </div>
                                <div class="btn-div">
                                    <button type="submit" class="btn-inscription">ajouter</button>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</details>
</div>