@model AgriNov.ViewModels.UserAccountCreation

@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Inscription";
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/formstyle.css">

}
<div class="form">
    @using (Html.BeginForm("CreateAccount", "Login", FormMethod.Post))
    {
        @Html.LabelFor(model => model.UserAccount.Mail)
        @Html.TextBoxFor(model => model.UserAccount.Mail)
        @Html.ValidationMessageFor(model => model.UserAccount.Mail)

        @Html.LabelFor(model => model.UserAccount.Password)
        @Html.PasswordFor(model => model.UserAccount.Password)
        @Html.ValidationMessageFor(model => model.UserAccount.Password)

        @Html.LabelFor(model => model.ConfirmPassword)
        @Html.PasswordFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword)

        <button type="submit" class="button-add">Ajouter</button>
    }
</div>