@model AgriNov.ViewModels.LoginWithSignup
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>S'identifier</title>
        <link rel="stylesheet" href="~/CSS/loginstyle.css">
    </head>
    <body class="@(ViewData["FromAccountCreation"] != null && (bool)ViewData["FromAccountCreation"] ? "slide" : "")">
        <a href="@Url.Action("Index", "Home")" class="return-link">Retour à l'accueil</a>
        <div class="container">
            @if(!Model.UserAccountLogin.IsAuthenticated)
            {
            <div class="box signin">
                <h2>bon retour !</h2>
                <p>Pour rester connecté avec nous, veuillez vous connecter avec vos identifiants.</p>
                <button class="signinBtn">Connexion</button>
            </div>
            <div class="box signup">
                <h2>bienvenue !</h2>
                <p>Entrez vos informations personnnelles et prenez part à l'expérience.</p>
                <button class="signupBtn">Inscription</button>
            </div>
            <div class="formBx">
                <div class="form signinform">
                    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                    {
                        <h3>se connecter</h3>
                            @* @Html.LabelFor(model => model.UserAccountLogin.UserAccount.Mail) *@
                            @Html.TextBoxFor(model => model.UserAccountLogin.UserAccount.Mail, new { placeholder = "Email"})
                            @Html.ValidationMessageFor(model => model.UserAccountLogin.UserAccount.Mail)

                            @* @Html.LabelFor(model => model.UserAccountLogin.UserAccount.Password) *@
                            @Html.PasswordFor(model => model.UserAccountLogin.UserAccount.Password, new { placeholder = "Mot de Passe"})
                            @Html.ValidationMessageFor(model => model.UserAccountLogin.UserAccount.Password)

                        <input type="submit" value="Connexion">
                    }
                </div>
                <div class="form signupform">
                    @using (Html.BeginForm("CreateAccount", "Login", FormMethod.Post))
                    {
                        <h3>s'inscrire</h3>
                            @* @Html.LabelFor(model => model.UserAccountCreation.UserAccount.Mail) *@
                            @Html.TextBoxFor(model => model.UserAccountCreation.UserAccount.Mail, new { placeholder = "Email"})
                            @Html.ValidationMessageFor(model => model.UserAccountCreation.UserAccount.Mail)

                            @* @Html.LabelFor(model => model.UserAccountCreation.UserAccount.Password) *@
                            @Html.PasswordFor(model => model.UserAccountCreation.UserAccount.Password, new { placeholder = "Mot de passe"})
                            @Html.ValidationMessageFor(model => model.UserAccountCreation.UserAccount.Password)

                            @* @Html.LabelFor(model => model.UserAccountCreation.ConfirmPassword) *@
                            @Html.PasswordFor(model => model.UserAccountCreation.ConfirmPassword, new { placeholder = "Confirmer mot de passe"})
                            @Html.ValidationMessageFor(model => model.UserAccountCreation.ConfirmPassword)
                        
                        <input type="submit" value="Inscription">
                    }
                </div>
            </div> 
            }
            else
            {
                <h3>Vous êtes connecté en tant que @Model.UserAccountLogin.UserAccount.Mail</h3>
            }
        </div>
    <script>
            let signinBtn = document.querySelector('.signinBtn');
            let signupBtn = document.querySelector('.signupBtn');
            let body = document.querySelector('body');

            signupBtn.onclick = function(){
                body.classList.add('slide');
            }

            signinBtn.onclick = function(){
                body.classList.remove('slide');
            }
    </script>
    </body>
</html>
