@model AgriNov.ViewModels.LoginWithSignup
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>S'identifier</title>
        <link rel="icon" type="image/x-icon" href="~/img/global/Logo.ico">
        <link rel="stylesheet" href="~/CSS/loginstyle.css">
        <link rel="stylesheet" href="~/CSS/buttonsstyle.css">
    </head>
    <body class="@(ViewData["FromAccountCreation"] != null && (bool)ViewData["FromAccountCreation"] ? "slide" : "")">
        
        <a href="@Url.Action("Index", "Home")" class="return-home">Retour à l'accueil</a>

        <div class="container">
            @if(!Model.UserAccountLogin.IsAuthenticated)
            {
            <div class="box signin">
                <h2>bon retour !</h2>
                <p>Pour rester connecté avec nous, veuillez vous connecter avec vos identifiants.</p>
                <button class="signinBtn">Connexion</button>
            </div>
            <div class="box signup">
                <h2>bienvenue !</h2>
                <p>Entrez vos informations personnnelles et prenez part à l'expérience.</p>
                <button class="signupBtn">Inscription</button>
            </div>
            <div class="formBx">
               
                <div class="form signinform">
                    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                    {
                        <div class="button-container2">
                            <button id="btn1" type="button" class="demo-btn2">U</button>
                            <button id="btn2" type="button" class="demo-btn2">S</button>
                            <button id="btn3" type="button" class="demo-btn2">A</button>
                        </div>

                        <h3>se connecter</h3>
                            @* @Html.LabelFor(model => model.UserAccountLogin.UserAccount.Mail) *@
                            @Html.TextBoxFor(model => model.UserAccountLogin.UserAccount.Mail, new { placeholder = "Email"})
                            @Html.ValidationMessageFor(model => model.UserAccountLogin.UserAccount.Mail)

                            @* @Html.LabelFor(model => model.UserAccountLogin.UserAccount.Password) *@
                            @Html.PasswordFor(model => model.UserAccountLogin.UserAccount.Password, new { placeholder = "Mot de Passe"})
                            @Html.ValidationMessageFor(model => model.UserAccountLogin.UserAccount.Password)

                        <input type="submit" value="Connexion">
                    }
                </div>
                <div class="form signupform">
                    @using (Html.BeginForm("CreateAccount", "Login", FormMethod.Post))
                    {
                        <div class="login-buttons-container">
                            <button id="btn4" type="button" class="demo-btn2">U</button>
                        </div>
                        <h3>s'inscrire</h3>
                            @* @Html.LabelFor(model => model.UserAccountCreation.UserAccount.Mail) *@
                            @Html.TextBoxFor(model => model.UserAccountCreation.UserAccount.Mail, new { placeholder = "Email"})
                            @Html.ValidationMessageFor(model => model.UserAccountCreation.UserAccount.Mail)

                            @* @Html.LabelFor(model => model.UserAccountCreation.UserAccount.Password) *@
                            @Html.PasswordFor(model => model.UserAccountCreation.UserAccount.Password, new { placeholder = "Mot de passe"})
                            @Html.ValidationMessageFor(model => model.UserAccountCreation.UserAccount.Password)

                            @* @Html.LabelFor(model => model.UserAccountCreation.ConfirmPassword) *@
                            @Html.PasswordFor(model => model.UserAccountCreation.ConfirmPassword, new { placeholder = "Confirmer mot de passe"})
                            @Html.ValidationMessageFor(model => model.UserAccountCreation.ConfirmPassword)
                        
                        <input type="submit" value="Inscription">
                    }
                </div>
            </div> 
            }
            else
            {
                <h3>Vous êtes connecté en tant que @Model.UserAccountLogin.UserAccount.Mail</h3>
            }
        </div>
    <script>
            let signinBtn = document.querySelector('.signinBtn');
            let signupBtn = document.querySelector('.signupBtn');
            let body = document.querySelector('body');

            signupBtn.onclick = function(){
                body.classList.add('slide');
            }

            signinBtn.onclick = function(){
                body.classList.remove('slide');
            }

            // Pauline singup
            document.getElementById('btn4').addEventListener('click', function () {
            document.getElementById('UserAccountCreation_UserAccount_Mail').value = 'p.dupont@clisson.fr';
            document.getElementById('UserAccountCreation_UserAccount_Password').value = 'agrinov2024';
            });
            // Pauline singin
            document.getElementById('btn1').addEventListener('click', function () {
            document.getElementById('UserAccountLogin_UserAccount_Mail').value = 'p.dupont@clisson.fr';
            document.getElementById('UserAccountLogin_UserAccount_Password').value = 'agrinov2024';
            });

            // Morgane singin
            document.getElementById('btn2').addEventListener('click', function () {
            document.getElementById('UserAccountLogin_UserAccount_Mail').value = 'c.moreau@angers.fr';
            document.getElementById('UserAccountLogin_UserAccount_Password').value = 'france2024';
            });

            // Alexia singin
            document.getElementById('btn3').addEventListener('click', function () {
            document.getElementById('UserAccountLogin_UserAccount_Mail').value = 'a.roy@clisson.fr';
            document.getElementById('UserAccountLogin_UserAccount_Password').value = 'chateau85';
            });
    </script>
    </body>
</html>
