@model AgriNov.ViewModels.UserAccountLogin

@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Connexion";
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/formstyle.css">

}
@if(Model.IsAuthenticated){
    <p>Vous êtes connecté avec l'adresse @Model.UserAccount.Mail</p>
    @Html.ActionLink("Se déconnecter","Logout")
}
else{
    <div class="form">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            @Html.LabelFor(model => model.UserAccount.Mail)
            @Html.TextBoxFor(model => model.UserAccount.Mail)
            @Html.ValidationMessageFor(model => model.UserAccount.Mail)

            @Html.LabelFor(model => model.UserAccount.Password)
            @Html.PasswordFor(model => model.UserAccount.Password)
            @Html.ValidationMessageFor(model => model.UserAccount.Password)

            <button type="button" class="btn-small orange-btn" style="padding: 5px 10px; font-size: 12px;" onclick="window.location.href='@Url.Action("Index", "Home")';">Retour</button>
        }
    </div>
}