@{
    ViewBag.Title = "Acceuil";

    Layout = "_BaseLayout";
}

<section id="accueil" class="parallax">
	<img src="@Url.Content("~/img/global/bg.png")" id="bg">
		 <img src="@Url.Content("~/img/global/montagnes.png")" id="montagnes">
		 <img src="@Url.Content("~/img/global/arbres3.png")" id="arbres3">
		 <img src="@Url.Content("~/img/global/arbres2.png")" id="arbres2">
		 <img src="@Url.Content("~/img/global/arbres1.png")" id="arbres1">
		 <img src="@Url.Content("~/img/global/front2.png")" id="front2">
		 <img src="@Url.Content("~/img/global/front1.png")" id="front1">

			<section class="header-text" id="text">
				<h3>AgriNov : les jardins du futur</h3>
				<p class="p2">Une AMAP qui allie innovation et agriculture durable pour vous offrir des produits frais, locaux et respectueux de l'environnement. Ensemble, cultivons un avenir plus vert, un panier à la fois !</p>
			</section>	
</section>	


<section class="global-content">


	<section id="section-1" class="section-1">
		<img src="@Url.Content("~/img/global/img2.png")" id="img2">

		<h1>Le territoire</h1>
			 <img src="@Url.Content("~/img/global/img1.png")" id="img1">

		<section class="subsection-1">

			<section class="subsection-content">
				<h3>Histoire et Valeurs</h3>				
				<p class="p2">
					AgriNov est une AMAP profondément ancrée dans le territoire de Clisson et ses alentours (rayon de 30 km). Cette association a vu le jour dans le but de soutenir une agriculture paysanne locale, respectueuse de l’environnement et socialement juste. Le modèle d’AgriNov repose sur un partenariat direct entre producteurs et adhérents, où chacun s'engage dans la vie de l’association. Dans cette démarche solidaire, AgriNov promeut les circuits courts, la transparence des pratiques agricoles, ainsi qu’une rémunération équitable des producteurs.
					Ensemble, nous voulons préserver le savoir-faire agricole local tout en répondant aux enjeux contemporains : comment s’approvisionner en produits sains et locaux, tout en réduisant notre empreinte écologique et en renforçant le lien entre les citoyens et les producteurs ? AgriNov répond à cette question en cultivant à la fois l’esprit de solidarité et l’innovation.
				</p>
			</section>	
			<section class="subsection-content">
				<h3>Le territoire : Clisson et ses alentours</h3>				
				<p class="p2">
					Clisson, cette petite ville, terre du Hellfest, festival mythique de métal, est située au carrefour de la Loire-Atlantique du Maine-et-Loire et de la Vendée. Plus qu’un simple cadre géographique pour AgriNov, elle symbolise un terroir riche, varié, et fertile, où les pratiques agricoles locales sont enracinées dans les traditions. Les producteurs membres d’AgriNov travaillent dans cette région, fournissant une diversité de produits : légumes, fruits, produits laitiers, viandes, volailles, miels, céréales, et plus encore. L’association met un point d’honneur à soutenir ces producteurs, installés dans un rayon de 30 km autour de Clisson, assurant ainsi des circuits courts et une proximité avec les consommateurs.
				</p>
			</section>

		</section>

	</section>		

	<section id="section-2" class="section-2">

		<h1>Le projet digital</h1>
		<img src="@Url.Content("~/img/global/img3.png")" id="img3">

		<section class="subsection-2">

			<section class="subsection-content">
				<h3>Une Initiative Numérique pour une Flexibilité Accrue</h3>				
				<p class="p2">
					Ce qui distingue AgriNov des AMAP traditionnelles, c’est l’intégration d’outils numériques qui apportent flexibilité et simplicité à ses adhérents. Tout en conservant l’esprit solidaire, nous avons développé une plateforme en ligne qui centralise la gestion des paniers, des services et des interactions entre les membres. À travers cette interface numérique, chaque adhérent (acheteur ou fournisseur) a la possibilité de gérer ses distributions, de revendre ou troquer des paniers via une "place des marchés" numérique.
					Ce système de troc numérique encourage une plus grande flexibilité, permettant aux adhérents d'adapter leur participation selon leurs besoins. S’ils n’en ont pas le besoin, ils peuvent facilement proposer leur panier à d’autres membres via la plateforme. Les adhérents peuvent également ajouter des produits supplémentaires ou rendre des services (comme récupérer un panier pour quelqu’un d'autre). Cette dimension numérique renforce le lien communautaire et permet une gestion plus fluide, tout en répondant aux imprévus du quotidien.
				</p>
			</section>	
			<section class="subsection-content">
				<h3>L’Innovation au Service de la Découverte Culinaire</h3>				
				<p class="p2">
					La plateforme d’AgriNov ne s’arrête pas là. En complément des paniers, elle propose également un espace dédié à la création et au partage de recettes basées sur les légumes de la semaine. Tous les adhérents – qu’ils soient producteurs, acheteurs ou bénévoles – peuvent soumettre des recettes, modérées avant leur publication, pour inspirer la communauté. Cet aspect participatif permet de faire découvrir des légumes moins connus ou plus difficiles à cuisiner, tout en développant une culture culinaire locale et respectueuse des saisons. C’est un outil idéal pour encourager les adhérents à explorer de nouvelles saveurs, en tirant parti de ce que leur terroir a de mieux à offrir.
				</p>
			</section>

		</section>	

	</section>	

	<section id="section-3" class="section-3">
		<img src="@Url.Content("~/img/global/img5.png")" id="img5">

		<h1>Nos valeurs</h1>

		<img src="@Url.Content("~/img/global/img4.png")" id="img4">
		

		<section class="subsection-3">

			<section class="subsection-content">
				<h3>Transmission et Convivialité</h3>				
				<p class="p2">
					Au-delà du numérique, AgriNov mise sur l’échange humain. Nous organisons régulièrement des ateliers pour approfondir les liens entre adhérents et producteurs. Ces moments privilégiés incluent non seulement des visites d’exploitations et des dégustations, mais également des ateliers pratiques. Vous souhaitez apprendre à cuisiner vos légumes de saison ? Ou peut-être découvrir les bases de la permaculture et créer votre propre potager en milieu urbain ? Ces ateliers sont là pour renforcer le savoir-faire local, en favorisant des pratiques durables et accessibles à tous.
					AgriNov, c'est donc bien plus qu'une simple AMAP : c'est une communauté qui s'engage pour l'avenir, alliant tradition paysanne et innovation numérique.
				</p>
			</section>
			<section class="subsection-content">
				<h3>les différents membres</h3>				
				<p class="p2">
					Les adhérents acheteurs représentent un groupe diversifié d’habitants de Clisson et ses alentours. En majorité, ils sont des familles et des particuliers soucieux de leur alimentation et de l’impact environnemental de leurs choix. Certains sont des adeptes convaincus des circuits courts, tandis que d’autres cherchent à mieux comprendre les pratiques agricoles locales et à soutenir l’économie de proximité. Beaucoup apprécient également la flexibilité offerte par le système numérique, qui leur permet de jongler avec leurs contraintes personnelles et professionnelles sans compromettre leur engagement.
					Les adhérents fournisseurs, eux, sont des producteurs locaux engagés dans une agriculture biologique et durable. Ils trouvent dans AgriNov non seulement une source de revenu stable et équitable, mais aussi un espace d’échanges et de dialogue avec les consommateurs. Leur engagement va au-delà de la vente de produits : ils participent aux ateliers et aux rencontres, transmettant leur savoir-faire et sensibilisant à l’importance de l’agriculture paysanne. Grâce à la plateforme numérique, ils peuvent également ajuster leur offre en proposant des produits d’épicerie (conserve, confiture, etc) en fonction de leurs récoltes et de leur savoir-faire, en gardant une communication fluide avec les adhérents.
					Les bénévoles : Ils participent activement à la vie de l’association, qu’il s’agisse de préparer les paniers, d’organiser les distributions, de modérer les recettes sur la plateforme ou de coordonner les ateliers. Souvent eux-mêmes consommateurs, ils sont motivés par un désir de s’engager dans une démarche collective et solidaire.
				</p>
			</section>
			<section class="subsection-content">
				<h3>En résumé ...</h3>				
				<p class="p2">
					AgriNov incarne un modèle de consommation éthique, durable et local. Avec ses valeurs fortes, son engagement envers le territoire de Clisson, et ses initiatives innovantes, l’association souhaite non seulement nourrir sainement ses adhérents, mais aussi renforcer les liens sociaux et créer une communauté soudée autour d’une agriculture respectueuse de l’humain et de la nature.
					Bien que le modèle d’AgriNov soit local, son ambition est d’inspirer d’autres initiatives similaires. AgriNov ne cherche pas à s’imposer comme un acteur dominant, mais à démontrer que la technologie peut être mise au service de valeurs solidaires et d’une économie circulaire à petite échelle.
				</p>
			</section>

		</section>

	</section>	

	<section id="section-4" class="section-4">
    <h1>Les producteurs partenaires</h1>
    <img src="@Url.Content("~/img/global/img6.png")" id="img6">

 	<section class="section-4-subcontainer">
    	<section class="carousel-container">
    	

        	<section id="carousel">
            <div class="item">
            	<section class="card-container">
                	<p class="title">Christine FOUCHET et Hervé POUPARD</p>
	                <section class="card-subcontainer">
						<img class="photo" src="@Url.Content("~/img/global/photo1.png")">
	                	<p class="card-content">Producteurs d'oeufs et de volailles - EARL Les Mûrs à la Verrie (85)
	                		<br>La Ferme des Mûrs propose des oeufs et des volailles (poulets, pintades, poules, coqs) élevées en plein air sur parcours herbeux, nourries aux grains. La croissance des animaux se fait sur 130 jours minimums.
	                		<br>En fin d’année, l’exploitation propose également des volailles festives : dindes, chapons, oies et poulardes.
	                		<br>L’abattage des animaux se fait sur place dans le laboratoire de la ferme.</p>
	                </section>
                </section>
            </div>
            <div class="item">
            	<section class="card-container">
                	<p class="title">La Ferme de la Corbière</p>
	                <section class="card-subcontainer">
	                	<img class="photo" src="@Url.Content("~/img/global/photo2.png")">
	                	<p class="card-content">Légumes biologiques - SCEA La Corbière – ROUSSAY (49)
	                		<br>Située à Roussay, à la limite de la Loire-atlantique et du Maine-et-Loire, la Ferme de la Corbière est une exploitation de 28 hectares dont 3 sont consacrés au maraîchage. Le reste se répartit en cultures de blé, de sarrasin, de tournesol et de prairie (foin), ainsi qu’en cultures de plantes aromatiques et médicinales et petits arbres fruitiers.
	                		<br>L’activité maraîchage a débuté en 2009 et emploie 3 personnes à temps plein. L’exploitation livre des paniers de légumes dans plusieurs AMAP mais aussi un marché à la ferme depuis 2016 et le camping du lac de Ribou à Cholet depuis 2017.</p>
	                </section>
                </section>
            </div>
            <div class="item">
            	<section class="card-container">
                	<p class="title">Mélanie et Gaëtan BARREAU</p>
	                <section class="card-subcontainer">
	                	<img class="photo" src="@Url.Content("~/img/global/photo3.png")">
	                	<p class="card-content">Produits laitiers chèvre et vache - La Ferme des Caprices d'Anglos - Sèvremoine (49)
	                		<br>Installée depuis 2018, la ferme des Caprices d’Anglos est une exploitation biologique qui transforme le lait de 60 chèvres et 4 vaches.
	                		<br>Elle propose à notre AMAP du lait cru en vrac, des fromages, des fromages blancs et des yaourts.</p>
	                </section>
                </section>
            </div>
            <div class="item">
             	<section class="card-container">
                	<p class="title">Morgane HERBEL et Frédéric THOMAS</p>
	                <section class="card-subcontainer">
	                	<img class="photo" src="@Url.Content("~/img/global/photo4.png")">
	                	<p class="card-content">Gaec du Pré Verger - La Bruffière (85)
	                		<br>En agriculture biologique, l’exploitation est spécialisée dans l’élevage de canards et volailles. Morgane fabrique toutes sortes de pains et des galettes une fois par mois.</p>
	                </section>
                </section>
            </div>
            <div class="item">
             	<section class="card-container">
                	<p class="title">Jean-Yves BROSSET</p>
	                <section class="card-subcontainer">
	                	<img class="photo" src="@Url.Content("~/img/global/photo5.png")">
	                	<p class="card-content">Ferme du Bignon - La Verrie (85)
	                		<br>Jean-Yves Brosset s’est installé en 1988 sur exploitation convertie en bio en 1968. L’exploitation de 52 hectares cultive 8 hectares en céréales (épeautre, orge), 2 en betteraves et 42 en prairie.
	                		<br>Jean-Yves livre chaque semaine à l’AMAP du beurre cru et de la crème crue, et une fois par trimestre des caissettes de porc bio.</p>
	                </section>
                </section>
            </div>
            <div class="item">
            	<section class="card-container">
                	<p class="title">Audrey LEMEE</p>
	                <section class="card-subcontainer">
	                	<img class="photo" src="@Url.Content("~/img/global/photo6.png")">
	                	<p class="card-content">GAEC du Petit Coubrenier - CUGAND (85)
	                		<br>Au verger du Petit Courbrenier, Audrey propose des fruits de saison notamment des pommes, des poires, jus et compotes.</p>
	                </section>
                </section>
            </div>
            <div class="item">
            	<section class="card-container">
                	<p class="title">Thierry Gallais</p>
	                <section class="card-subcontainer">
	                	<img class="photo" src="@Url.Content("~/img/global/photo7.png")">
	                	<p class="card-content">Producteur de sel
	                		<br>Producteur de sel à Noirmoutier, Thierry est inscrit dans une démarche qualité et engagé en « Mesures Agro Environnementales ». 
	                		<br>Il nous fournit 2 fois par an, du gros sel, de la fleur de sel et des pots de salicornes (prêt à consommer).</p>
	                </section>
                </section>
            </div>
            <div class="item">
            	<section class="card-container">
                	<p class="title">Magali Delaunay</p>
	                <section class="card-subcontainer">
	                	<img class="photo" src="@Url.Content("~/img/global/photo8.png")">
	                	<p class="card-content">Paysanne pastière
	                		<br>Paysanne « pastière », elle est installée sur l’exploitation de Thomas Rabu, paysan boulanger au lieu-dit « le bois vert » à Varades.
	                		<br>Le but de son installation est de transformer sa production de céréales en pâtes bio ainsi que sa production de légumes en conserves (coulis de tomates, sauces, pistou…) afin d’agrémenter vos pâtes.</p>
	                </section>
                </section>
            </div>
            <div class="item">
             	<section class="card-container">
                	<p class="title">Sandra</p>
	                <section class="card-subcontainer">
	                	<img class="photo" src="@Url.Content("~/img/global/photo9.png")">
	                	<p class="card-content">Apicultrice
	                		<br>Apiculteurs à St Mesmin en Vendée, Sandra et son mari auront la certification bio courant 2017. Ils nous fournissent en miel, propolis et pollen.</p>
	                </section>
                </section>
            </div>
        	</section>

        

   	 	</section>

    	<section class="radio-container">

    		<button id="prev" class="arrow left-arrow">&#10094;</button>

	        <input type="radio" name="position" id="r1"/>
	        <label for="r1" class="radio"></label>

			<input type="radio" name="position" id="r2"/>
			<label for="r2" class="radio"></label>

			<input type="radio" name="position" id="r3"/>
			<label for="r3" class="radio"></label>

			<input type="radio" name="position" id="r4"/>
			<label for="r4" class="radio"></label>

			<input type="radio" name="position" id="r5" checked/>
			<label for="r5" class="radio"></label>

			<input type="radio" name="position" id="r6"/>
			<label for="r6" class="radio"></label>

			<input type="radio" name="position" id="r7"/>
			<label for="r7" class="radio"></label>

			<input type="radio" name="position" id="r8"/>
			<label for="r8" class="radio"></label>

			<input type="radio" name="position" id="r9"/>
			<label for="r9" class="radio"></label>

			<button id="next" class="arrow right-arrow">&#10095;</button>

		</section>

	</section>
</section>

	<section id="section-5" class="section-5">
	<img src="@Url.Content("~/img/global/img8.png")" id="img8">

		<h1>Nous rejoindre</h1>
		<img src="@Url.Content("~/img/global/img7.png")" id="img7">
		
		<section class="subsection-5">

			<section class="subsection-content">
				<h3>Rejoindre Agrinov est simple et ouvert à tous, que vous soyez consommateur, agriculteur ou bénévole engagé !</h3>				
			
				<p class="p2">En tant qu'adhérent : Il vous suffit de vous inscrire sur notre site et de remplir le formulaire d’abonnement. Une fois votre demande envoyée, nous l’étudierons afin de vous inscrire pour la prochaine saison. En attendant d’avoir vos paniers hebdomadaires, vous pouvez acheter des produits de nos partenaires producteurs en ligne, profiter des paniers en surplus disponibles dans la boutique ou encore participer à nos ateliers*.</p>

				<p class="p2">En tant qu’agriculteur : Si vous êtes producteur et souhaitez rejoindre notre réseau, vous pouvez également vous inscrire sur notre site. Nous étudierons votre demande et prendrons contact avec vous pour discuter de votre intégration à notre AMAP.</p>

				<p class="p2">En tant que bénévole : Nous sommes toujours à la recherche de personnes passionnées prêtes à donner un coup de main, que ce soit pour l’organisation des distributions, l’animation d’ateliers ou le soutien logistique. Une fois adhérents, vous pouvez nous communiquer votre envie de vous engager pour que nous travaillons ensemble !</p>

				<p class="p2"><em><br>* Moyennant une cotisation de 10€/pers.</em></p>
			</section>	

		</section>
	</section>	

</section>	

@section Scripts {
	<script src="~/scripts/script.js"></script>
}
