@model AgriNov.Models.UserAccount;
@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Mon Compte";
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/dashboard.css">
}
<div class="action-choice">
@if (@Model.UserId == null && @Model.CorporateUserId == null && @Model.SupplierId == null)
{
    <a href="@Url.Action("TypeSelection", "Account")" class="action">Compléter mon inscription</a>
}
else
{
    <a href="@Url.Action("ChangePassword", "Account")" class="action">Modifier mon mot de passe</a>
    <a href="@Url.Action("ChangeInfo", "Account")" class="action">Voir ou Modifier mes informations</a>
}
</div>